<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.mapper.IdentityAuditingMapper" >
  <resultMap id="BaseResultMap" type="pojo.IdentityAuditing" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="class_now" property="classNow" jdbcType="VARCHAR" />
    <result column="parent_name" property="parentName" jdbcType="VARCHAR" />
    <result column="parent_phone" property="parentPhone" jdbcType="VARCHAR" />
    <result column="head_img" property="headImg" jdbcType="VARCHAR" />
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="auditing_status" property="auditingStatus" jdbcType="CHAR" />
  </resultMap>

  <select id="countAll" resultType="java.lang.Integer">
    SELECT count(id)  FROM identity_auditing
  </select>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, stu_name, grade, class_now, parent_name, parent_phone, head_img, register_time, 
    auditing_status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pojo.IdentityAuditingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from identity_auditing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from identity_auditing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from identity_auditing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pojo.IdentityAuditingExample" >
    delete from identity_auditing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="pojo.IdentityAuditing" >
    insert into identity_auditing (id, stu_name, grade, 
      class_now, parent_name, parent_phone, 
      head_img, register_time, auditing_status
      )
    values (#{id,jdbcType=INTEGER}, #{stuName,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, 
      #{classNow,jdbcType=VARCHAR}, #{parentName,jdbcType=VARCHAR}, #{parentPhone,jdbcType=VARCHAR}, 
      #{headImg,jdbcType=VARCHAR}, #{registerTime,jdbcType=TIMESTAMP}, #{auditingStatus,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="pojo.IdentityAuditing" >
    insert into identity_auditing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stuName != null" >
        stu_name,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="classNow != null" >
        class_now,
      </if>
      <if test="parentName != null" >
        parent_name,
      </if>
      <if test="parentPhone != null" >
        parent_phone,
      </if>
      <if test="headImg != null" >
        head_img,
      </if>
      <if test="registerTime != null" >
        register_time,
      </if>
      <if test="auditingStatus != null" >
        auditing_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stuName != null" >
        #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="classNow != null" >
        #{classNow,jdbcType=VARCHAR},
      </if>
      <if test="parentName != null" >
        #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="parentPhone != null" >
        #{parentPhone,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null" >
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null" >
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditingStatus != null" >
        #{auditingStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.IdentityAuditingExample" resultType="java.lang.Integer" >
    select count(*) from identity_auditing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update identity_auditing
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.stuName != null" >
        stu_name = #{record.stuName,jdbcType=VARCHAR},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.classNow != null" >
        class_now = #{record.classNow,jdbcType=VARCHAR},
      </if>
      <if test="record.parentName != null" >
        parent_name = #{record.parentName,jdbcType=VARCHAR},
      </if>
      <if test="record.parentPhone != null" >
        parent_phone = #{record.parentPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.headImg != null" >
        head_img = #{record.headImg,jdbcType=VARCHAR},
      </if>
      <if test="record.registerTime != null" >
        register_time = #{record.registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditingStatus != null" >
        auditing_status = #{record.auditingStatus,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update identity_auditing
    set id = #{record.id,jdbcType=INTEGER},
      stu_name = #{record.stuName,jdbcType=VARCHAR},
      grade = #{record.grade,jdbcType=VARCHAR},
      class_now = #{record.classNow,jdbcType=VARCHAR},
      parent_name = #{record.parentName,jdbcType=VARCHAR},
      parent_phone = #{record.parentPhone,jdbcType=VARCHAR},
      head_img = #{record.headImg,jdbcType=VARCHAR},
      register_time = #{record.registerTime,jdbcType=TIMESTAMP},
      auditing_status = #{record.auditingStatus,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.IdentityAuditing" >
    update identity_auditing
    <set >
      <if test="stuName != null" >
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="classNow != null" >
        class_now = #{classNow,jdbcType=VARCHAR},
      </if>
      <if test="parentName != null" >
        parent_name = #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="parentPhone != null" >
        parent_phone = #{parentPhone,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null" >
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null" >
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditingStatus != null" >
        auditing_status = #{auditingStatus,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.IdentityAuditing" >
    update identity_auditing
    set stu_name = #{stuName,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      class_now = #{classNow,jdbcType=VARCHAR},
      parent_name = #{parentName,jdbcType=VARCHAR},
      parent_phone = #{parentPhone,jdbcType=VARCHAR},
      head_img = #{headImg,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      auditing_status = #{auditingStatus,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>