<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd"
>

    <!-- scan the package and the sub package -->
    <context:component-scan base-package="controller"/>

    <!-- don't handle the static resource -->
    <mvc:default-servlet-handler />

    <!-- if you use annotation you must configure following setting -->
    <mvc:annotation-driven />

    <tx:annotation-driven/>



    <!-- 配置资源映射 -->
    <mvc:resources location="/static/h-ui.admin/css/" mapping="static/h-ui.admin/css/**"/>
    <mvc:resources location="/static/h-ui.admin/js/" mapping="static/h-ui.admin/js/**"/>
    <mvc:resources location="/static/h-ui/css/" mapping="static/h-ui/css/**"/>
    <mvc:resources location="/static/h-ui/js/" mapping="static/h-ui/js/**"/>
    <mvc:resources location="/static/images/" mapping="static/images/**"/>
    <mvc:resources location="/lib/" mapping="lib/**"/>
    <mvc:resources location="/temp/" mapping="temp/**"/>

    <mvc:interceptors>
    <mvc:interceptor>
        <mvc:mapping path="/**"/>
        <bean class="handler.LoginHandler"></bean>
    </mvc:interceptor>
    </mvc:interceptors>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/H-ui.admin/"/>
        <property name="suffix" value=".html" />
    </bean>


    <!-- 多媒体解析器 -->
    <!-- 配置文件上传解析器 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设定默认编码 -->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!-- 设定文件上传的最大值5MB，5*1024*1024 -->
        <property name="maxUploadSize" value="5242880"></property>
    </bean>

</beans>